<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xml:lang="en" lang="en">
	<head>
		<title>Monitor It!</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link type="text/css" href="/css/site-monitor.css" rel="Stylesheet"/>
	</head>
	<body class="iframe">
		<div py:if="c.site">
			<ul>
				<li>
					<img src="http://graphite.shopzilla.com/render/?width=560&amp;amp;height=325&amp;amp;target=alias(sum(wrpm.raw.gb.sz.*.*),%22Shopzilla%20gb%22)&amp;amp;target=alias(sum(wrpm.raw.de.sz.*.*),%22Shopzilla%20de%22)&amp;amp;target=alias(sum(wrpm.raw.fr.sz.*.*),%22Shopzilla%20fr%22)&amp;target=alias(timeShift(sum(wrpm.raw.gb.sz.*.*,wrpm.raw.de.sz.*.*,wrpm.raw.fr.sz.*.*),%22-1w%22),%227-day%20wow%22)&amp;target=alias(timeShift(sum(wrpm.raw.gb.sz.*.*,wrpm.raw.de.sz.*.*,wrpm.raw.fr.sz.*.*),%22-2w%22),%2214-day%20wow%22)&amp;target=alias(sum(wrpm.raw.gb.sz.*.*,wrpm.raw.de.sz.*.*,wrpm.raw.fr.sz.*.*),%22ALL%22)&amp;colorList=0000FF,32CD32,C00000,8B5A00,CD8500,FFFFFF&amp;vtitle=raw%20redirects&amp;title=Shopzilla&amp;from=-2days&amp;until=-2min&amp;lineWidth=2" alt="" />
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
</html>
